.container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: end;
    /* background-color: #cccccc66; */
}

.content {
    display: flex;
    flex-direction: column;

    /* width: 260px; */
    display: flex;
    flex-direction: column;
    gap: 12px;

    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Cabeçalho */
.header {
    font-size: 14px;
    color: #333;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

/* Inputs e select */
.field {
    width: 100%;
    height: 36px;
    padding: 0 10px;

    font-size: 14px;
    color: #333;

    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;

    transition: border-color 0.2s, box-shadow 0.2s;
}

.field:focus {
    outline: none;
    border-color: #3b82f6;
    /* azul padrão */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

/* Placeholder visual (para select vazio) */
.field option[value=""] {
    color: #888;
}