.map {
    height: 100%;
    width: 100%;
    z-index: 0;
}


.overlay {
  position: absolute;
  display: flex;
  padding: 2%;
  z-index: 1000;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* opcional */
.overlay > * {
  pointer-events: auto;
}